h1{
    color: #FFFFFF;
    text-align: center;
    font-size: 4em;
    margin-top:3em;
}
h2{
    color: #D9CBB6;
    text-align: center;
    font-size: 2em;
    margin-top:2em;
    margin-left:3em;
    margin-right: 3em;
}

h3{
    color: #D9CBB6;
    text-align: center;
    font-size: 1.5em;
    margin-left:3em;
    margin-right: 3em;
    margin-top:4em;
}



h4{
    margin-top:3em;
    color: #D9CBB6;
    text-align: center;
}

h5{
    font-size: 1em;
    color: #D9CBB6;
    margin-bottom: 3em;
    display: flex;
    margin-top:2em;
}

body{
    background-color: #690A02;
    justify-content: center;
}

img{
    padding: 1em;
    display: flex;
    width: 210px;
    height: 320px;
    margin-top:6em;
    flex-wrap: nowrap;
}
button{
    align-content: flex-end;
    color: #690A02;
    background-color: papayawhip;
    margin-left:4em;
    margin-right: 9em;
    margin-bottom: 1em;
    padding: 1em;
    font-size:1em;
}

button:hover{
    background-color: #f5cd90;

}

li{

    color: papayawhip;
    padding: 2em;
    display: inline;
    list-style-type: none;
}

a{
    text-align:center;
    list-style-type:none;
    color: papayawhip;
    padding: 2em;

}

a:hover{
    color: #f5cd90;
}
ul{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2a0511;
    padding:2em;
    align-content: flex-end;
    border: 1px solid #e7e7e7;
}

.home{
    text-align: center;
}

.suspects{
    font-size:2em;
    align-content: center;

}

.suspectChoice{
    display: flex;
    flex-wrap: nowrap;
}

#Autopsy{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:800px;
}

#file{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    height:700px;
}
.Autopsy{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:800px;
}

.file{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    height:700px;
}

